<!-- A vertical navbar -->
<nav class="navbar sidebar navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="adminprofile">Add New Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="division">Add State</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="location">Add District</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="area">Add Area</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="money">Add Money</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="room">Add Room</a>
        </li>
    </ul>
  
  </nav>